In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
titanic=sns.load_dataset('titanic')
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [3]:
titanic.drop(titanic.iloc[:, 8:14], inplace=True, axis=1)
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked  alone
0           0       3    male  22.0      1      0   7.2500        S  False
1           1       1  female  38.0      1      0  71.2833        C  False
2           1       3  female  26.0      0      0   7.9250        S   True
3           1       1  female  35.0      1      0  53.1000        S  False
4           0       3    male  35.0      0      0   8.0500        S   True
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
886         0       2    male  27.0      0      0  13.0000        S   True
887         1       1  female  19.0      0      0  30.0000        S   True
888         0       3  female   NaN      1      2  23.4500        S  False
889         1       1    male  26.0      0      0  30.0000        C   True
890         0       3    male  32.0      0      0   7.7500        Q   True

[891 rows x 9 columns]

In [4]:
onehot_titanic = pd.get_dummies(titanic, columns = ['pclass', 'sex', 'embarked'])
print(onehot_titanic)

     survived   age  sibsp  parch     fare  alone  pclass_1  pclass_2  \
0           0  22.0      1      0   7.2500  False         0         0
1           1  38.0      1      0  71.2833  False         1         0
2           1  26.0      0      0   7.9250   True         0         0
3           1  35.0      1      0  53.1000  False         1         0
4           0  35.0      0      0   8.0500   True         0         0
..        ...   ...    ...    ...      ...    ...       ...       ...
886         0  27.0      0      0  13.0000   True         0         1
887         1  19.0      0      0  30.0000   True         1         0
888         0   NaN      1      2  23.4500  False         0         0
889         1  26.0      0      0  30.0000   True         1         0
890         0  32.0      0      0   7.7500   True         0         0

     pclass_3  sex_female  sex_male  embarked_C  embarked_Q  embarked_S
0           1           0         1           0           0           1
1           0           1         0           1           0           0
2           1           1         0           0           0           1
3           0           1         0           0           0           1
4           1           0         1           0           0           1
..        ...         ...       ...         ...         ...         ...
886         0           0         1           0           0           1
887         0           1         0           0           0           1
888         1           1         0           0           0           1
889         0           0         1           1           0           0
890         1           0         1           0           1           0

[891 rows x 14 columns]

In [5]:
onehot_titanic['age'] = onehot_titanic['age'].replace(np.nan, onehot_titanic['age'].mean())
print(onehot_titanic)

     survived        age  sibsp  parch     fare  alone  pclass_1  pclass_2  \
0           0  22.000000      1      0   7.2500  False         0         0
1           1  38.000000      1      0  71.2833  False         1         0
2           1  26.000000      0      0   7.9250   True         0         0
3           1  35.000000      1      0  53.1000  False         1         0
4           0  35.000000      0      0   8.0500   True         0         0
..        ...        ...    ...    ...      ...    ...       ...       ...
886         0  27.000000      0      0  13.0000   True         0         1
887         1  19.000000      0      0  30.0000   True         1         0
888         0  29.699118      1      2  23.4500  False         0         0
889         1  26.000000      0      0  30.0000   True         1         0
890         0  32.000000      0      0   7.7500   True         0         0

     pclass_3  sex_female  sex_male  embarked_C  embarked_Q  embarked_S
0           1           0         1           0           0           1
1           0           1         0           1           0           0
2           1           1         0           0           0           1
3           0           1         0           0           0           1
4           1           0         1           0           0           1
..        ...         ...       ...         ...         ...         ...
886         0           0         1           0           0           1
887         0           1         0           0           0           1
888         1           1         0           0           0           1
889         0           0         1           1           0           0
890         1           0         1           0           1           0

[891 rows x 14 columns]

In [6]:
onehot_titanic = onehot_titanic[['age','sibsp','parch','fare','pclass_1','pclass_2','pclass_3', 'sex_female','sex_male','embarked_C','embarked_Q','embarked_S','survived']]

In [7]:
print(onehot_titanic)

           age  sibsp  parch     fare  pclass_1  pclass_2  pclass_3  \
0    22.000000      1      0   7.2500         0         0         1
1    38.000000      1      0  71.2833         1         0         0
2    26.000000      0      0   7.9250         0         0         1
3    35.000000      1      0  53.1000         1         0         0
4    35.000000      0      0   8.0500         0         0         1
..         ...    ...    ...      ...       ...       ...       ...
886  27.000000      0      0  13.0000         0         1         0
887  19.000000      0      0  30.0000         1         0         0
888  29.699118      1      2  23.4500         0         0         1
889  26.000000      0      0  30.0000         1         0         0
890  32.000000      0      0   7.7500         0         0         1

     sex_female  sex_male  embarked_C  embarked_Q  embarked_S  survived
0             0         1           0           0           1         0
1             1         0           1           0           0         1
2             1         0           0           0           1         1
3             1         0           0           0           1         1
4             0         1           0           0           1         0
..          ...       ...         ...         ...         ...       ...
886           0         1           0           0           1         0
887           1         0           0           0           1         1
888           1         0           0           0           1         0
889           0         1           1           0           0         1
890           0         1           0           1           0         0

[891 rows x 13 columns]

In [8]:
X=onehot_titanic.iloc[:,0:12]
column_data_types = X.dtypes

print("Data types of all columns:")
print(column_data_types)
X

Data types of all columns:
age           float64
sibsp           int64
parch           int64
fare          float64
pclass_1        uint8
pclass_2        uint8
pclass_3        uint8
sex_female      uint8
sex_male        uint8
embarked_C      uint8
embarked_Q      uint8
embarked_S      uint8
dtype: object

,age,sibsp,parch,fare,pclass_1,pclass_2,pclass_3,sex_female,sex_male,embarked_C,embarked_Q,embarked_S
0,22.000000,1,0,7.2500,0,0,1,0,1,0,0,1
1,38.000000,1,0,71.2833,1,0,0,1,0,1,0,0
2,26.000000,0,0,7.9250,0,0,1,1,0,0,0,1
3,35.000000,1,0,53.1000,1,0,0,1,0,0,0,1
4,35.000000,0,0,8.0500,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,27.000000,0,0,13.0000,0,1,0,0,1,0,0,1
887,19.000000,0,0,30.0000,1,0,0,1,0,0,0,1
888,29.699118,1,2,23.4500,0,0,1,1,0,0,0,1
889,26.000000,0,0,30.0000,1,0,0,0,1,1,0,0
890,32.000000,0,0,7.7500,0,0,1,0,1,0,1,0

In [9]:
Y=onehot_titanic.iloc[:,-1]
Y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.125, random_state=42)

In [11]:
type(X_train)

pandas.core.frame.DataFrame

In [12]:
from keras import Model, Input
from keras.layers import Dense

inp = Input(shape=(12,))
l1 = Dense(50, activation='sigmoid')(inp)
out = Dense(1, activation='sigmoid')(l1)
model = Model(inputs=inp, outputs=out)
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 12)]              0

 dense (Dense)               (None, 50)                650

 dense_1 (Dense)             (None, 1)                 51

=================================================================
Total params: 701
Trainable params: 701
Non-trainable params: 0
_________________________________________________________________

In [13]:
model.compile(optimizer='adam', loss='mse')
model.fit(x=X_train, y=y_train, epochs=200, shuffle=True)

Epoch 1/200
25/25 [==============================] - 1s 2ms/step - loss: 0.3115
Epoch 2/200
25/25 [==============================] - 0s 5ms/step - loss: 0.2513
Epoch 3/200
25/25 [==============================] - 0s 2ms/step - loss: 0.2298
Epoch 4/200
25/25 [==============================] - 0s 5ms/step - loss: 0.2177
Epoch 5/200
25/25 [==============================] - 0s 2ms/step - loss: 0.2093
Epoch 6/200
25/25 [==============================] - 0s 5ms/step - loss: 0.2040
Epoch 7/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1997
Epoch 8/200
25/25 [==============================] - 0s 5ms/step - loss: 0.1966
Epoch 9/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1933
Epoch 10/200
25/25 [==============================] - 0s 5ms/step - loss: 0.1902
Epoch 11/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1874
Epoch 12/200
25/25 [==============================] - 0s 6ms/step - loss: 0.1846
Epoch 13/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1811
Epoch 14/200
25/25 [==============================] - 0s 6ms/step - loss: 0.1781
Epoch 15/200
25/25 [==============================] - 0s 5ms/step - loss: 0.1746
Epoch 16/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1713
Epoch 17/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1690
Epoch 18/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1669
Epoch 19/200
25/25 [==============================] - 0s 5ms/step - loss: 0.1631
Epoch 20/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1612
Epoch 21/200
25/25 [==============================] - 0s 6ms/step - loss: 0.1582
Epoch 22/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1556
Epoch 23/200
25/25 [==============================] - 0s 6ms/step - loss: 0.1528
Epoch 24/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1524
Epoch 25/200
25/25 [==============================] - 0s 6ms/step - loss: 0.1511
Epoch 26/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1478
Epoch 27/200
25/25 [==============================] - 0s 5ms/step - loss: 0.1466
Epoch 28/200
25/25 [==============================] - 0s 5ms/step - loss: 0.1468
Epoch 29/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1446
Epoch 30/200
25/25 [==============================] - 0s 6ms/step - loss: 0.1433
Epoch 31/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1431
Epoch 32/200
25/25 [==============================] - 0s 7ms/step - loss: 0.1416
Epoch 33/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1411
Epoch 34/200
25/25 [==============================] - 0s 5ms/step - loss: 0.1395
Epoch 35/200
25/25 [==============================] - 0s 6ms/step - loss: 0.1399
Epoch 36/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1392
Epoch 37/200
25/25 [==============================] - 0s 6ms/step - loss: 0.1389
Epoch 38/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1381
Epoch 39/200
25/25 [==============================] - 0s 6ms/step - loss: 0.1380
Epoch 40/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1376
Epoch 41/200
25/25 [==============================] - 0s 6ms/step - loss: 0.1386
Epoch 42/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1372
Epoch 43/200
25/25 [==============================] - 0s 8ms/step - loss: 0.1368
Epoch 44/200
25/25 [==============================] - 0s 5ms/step - loss: 0.1355
Epoch 45/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1359
Epoch 46/200
25/25 [==============================] - 0s 7ms/step - loss: 0.1357
Epoch 47/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1348
Epoch 48/200
25/25 [==============================] - 0s 7ms/step - loss: 0.1340
Epoch 49/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1341
Epoch 50/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1336
Epoch 51/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1336
Epoch 52/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1333
Epoch 53/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1332
Epoch 54/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1328
Epoch 55/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1327
Epoch 56/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1333
Epoch 57/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1315
Epoch 58/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1317
Epoch 59/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1312
Epoch 60/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1313
Epoch 61/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1307
Epoch 62/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1307
Epoch 63/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1318
Epoch 64/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1311
Epoch 65/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1302
Epoch 66/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1298
Epoch 67/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1312
Epoch 68/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1300
Epoch 69/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1291
Epoch 70/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1293
Epoch 71/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1292
Epoch 72/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1288
Epoch 73/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1286
Epoch 74/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1286
Epoch 75/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1280
Epoch 76/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1283
Epoch 77/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1282
Epoch 78/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1289
Epoch 79/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1282
Epoch 80/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1273
Epoch 81/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1280
Epoch 82/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1277
Epoch 83/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1275
Epoch 84/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1268
Epoch 85/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1268
Epoch 86/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1271
Epoch 87/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1266
Epoch 88/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1268
Epoch 89/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1265
Epoch 90/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1260
Epoch 91/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1265
Epoch 92/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1264
Epoch 93/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1255
Epoch 94/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1254
Epoch 95/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1253
Epoch 96/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1253
Epoch 97/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1260
Epoch 98/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1247
Epoch 99/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1254
Epoch 100/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1257
Epoch 101/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1250
Epoch 102/200

25/25 [==============================] - 0s 3ms/step - loss: 0.1247
Epoch 103/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1247
Epoch 104/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1244
Epoch 105/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1241
Epoch 106/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1242
Epoch 107/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1246
Epoch 108/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1243
Epoch 109/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1235
Epoch 110/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1232
Epoch 111/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1231
Epoch 112/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1233
Epoch 113/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1256
Epoch 114/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1272
Epoch 115/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1244
Epoch 116/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1233
Epoch 117/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1239
Epoch 118/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1227
Epoch 119/200
25/25 [==============================] - 0s 5ms/step - loss: 0.1231
Epoch 120/200
25/25 [==============================] - 0s 5ms/step - loss: 0.1233
Epoch 121/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1231
Epoch 122/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1227
Epoch 123/200
25/25 [==============================] - 0s 5ms/step - loss: 0.1222
Epoch 124/200
25/25 [==============================] - 0s 5ms/step - loss: 0.1222
Epoch 125/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1220
Epoch 126/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1224
Epoch 127/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1217
Epoch 128/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1221
Epoch 129/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1230
Epoch 130/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1219
Epoch 131/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1212
Epoch 132/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1212
Epoch 133/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1217
Epoch 134/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1211
Epoch 135/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1220
Epoch 136/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1216
Epoch 137/200
25/25 [==============================] - 0s 5ms/step - loss: 0.1220
Epoch 138/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1210
Epoch 139/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1209
Epoch 140/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1223
Epoch 141/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1211
Epoch 142/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1210
Epoch 143/200
25/25 [==============================] - 0s 5ms/step - loss: 0.1204
Epoch 144/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1200
Epoch 145/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1202
Epoch 146/200
25/25 [==============================] - 0s 5ms/step - loss: 0.1202
Epoch 147/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1207
Epoch 148/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1205
Epoch 149/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1203
Epoch 150/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1200
Epoch 151/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1204
Epoch 152/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1203
Epoch 153/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1198
Epoch 154/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1196
Epoch 155/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1196
Epoch 156/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1192
Epoch 157/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1196
Epoch 158/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1190
Epoch 159/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1190
Epoch 160/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1192
Epoch 161/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1199
Epoch 162/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1187
Epoch 163/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1188
Epoch 164/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1186
Epoch 165/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1187
Epoch 166/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1186
Epoch 167/200
25/25 [==============================] - 0s 5ms/step - loss: 0.1192
Epoch 168/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1195
Epoch 169/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1184
Epoch 170/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1182
Epoch 171/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1188
Epoch 172/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1178
Epoch 173/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1180
Epoch 174/200
25/25 [==============================] - 0s 5ms/step - loss: 0.1184
Epoch 175/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1189
Epoch 176/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1179
Epoch 177/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1175
Epoch 178/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1174
Epoch 179/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1175
Epoch 180/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1178
Epoch 181/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1174
Epoch 182/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1180
Epoch 183/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1179
Epoch 184/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1174
Epoch 185/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1171
Epoch 186/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1173
Epoch 187/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1178
Epoch 188/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1171
Epoch 189/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1170
Epoch 190/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1168
Epoch 191/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1170
Epoch 192/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1171
Epoch 193/200
25/25 [==============================] - 0s 3ms/step - loss: 0.1169
Epoch 194/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1170
Epoch 195/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1173
Epoch 196/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1164
Epoch 197/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1165
Epoch 198/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1166
Epoch 199/200
25/25 [==============================] - 0s 2ms/step - loss: 0.1179
Epoch 200/200
25/25 [==============================] - 0s 4ms/step - loss: 0.1162

In [14]:
from sklearn.metrics import accuracy_score

y_test=np.array(y_test)
X_test=np.array(X_test)

Y_pred1=model.predict(X_test).round()


score = accuracy_score(y_test, Y_pred1, normalize=True)
print("Accuracy of test data: ", score)

4/4 [==============================] - 0s 3ms/step
Accuracy of test data:  0.8214285714285714

In [15]:
X_train = np.array(X_train)
y_train = np.array(y_train)

Y_pred2=model.predict(X_train).round()

score = accuracy_score(y_train, Y_pred2, normalize=True)
print("Accuracy of training data: ", score)

25/25 [==============================] - 0s 2ms/step
Accuracy of training data:  0.8382541720154044

In [16]:
from keras.models import Model
from keras.layers import Input, Dense
from scikeras.wrappers import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

def create_model():
    inp = Input(shape=(12,))
    l1 = Dense(8, activation='sigmoid')(inp)
    out = Dense(1, activation='sigmoid')(l1)
    model = Model(inputs=inp, outputs=out)
    model.compile(optimizer='adam', loss='mse', metrics=['accuracy'])
    return model

model = KerasClassifier(model=create_model, epochs=10, batch_size=32, verbose=0)
scores = cross_val_score(model, X, Y, cv=5, scoring='accuracy')
print("Cross-validation scores:", scores)
print("Mean score:", scores.mean())
print("Standard deviation:", scores.std())

Cross-validation scores: [0.59776536 0.6741573  0.64606742 0.61797753 0.71348315]
Mean score: 0.6498901512773837
Standard deviation: 0.04094627216835748

The standard deviation is not too large, which suggests that the model is not overfitting.